.main{
    max-height:50vh;
}

.mainContent{
    display:flex;
    padding-bottom:20px;
    border-bottom:1px solid #fff;
}
.title{
    font-size:66px;
    font-weight:800;
}

.postHighlight{
    flex:0.25;
    display:flex;
    align-items:center;
    justify-content:center;
}
.postDetails{
    display:flex;
    flex-direction:column;
    flex:0/75;
}
.postContainer{
    border-radius:20px;
    overflow:hidden;
    display:flex;
    margin-right:20px;
}
.selectedPost{
    object-fit: contain;
    max-width:min(30vw,40vh);
    max-height:30vw;
}
span.postExcerpt {
    color: white;
    display: block;
    text-align: left;
    margin-left: 4px;
}