
@import "../utilities/variables";

.postList{
    cursor:pointer;
    display:flex;
    overflow:scroll;
    
    padding-bottom:20px;
    padding:20px;
    
}

.themeDark .postList{
    cursor:pointer;
    display:flex;
    overflow:scroll;
    
    padding-bottom:20px;
    padding:20px;
   
}

.themeLight .postList{
    cursor:pointer;
    display:flex;
    overflow:scroll;
    
    padding-bottom:20px;
    padding:20px;
   
}
.postList::-webkit-scrollbar{
    display:none;
}


.postList a {
    text-decoration: none;
} 
.themeDark .postListWrapper1 {
      background:$bg-dark-theme;
}

.themeLight .postListWrapper1 {
    background:$bg-light-theme;
}
.postListWrapper2 {
    max-width: 1100px;
    margin: 0 auto;
}